<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="FredDaCaixaEntities" connectionString="metadata=res://*/ModuloBasico.ClassesBasicas.csdl|res://*/ModuloBasico.ClassesBasicas.ssdl|res://*/ModuloBasico.ClassesBasicas.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=thecase;password=ruinas123;database=freddacaixa&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>