.igc_Control
{
	background-color:White;
	font-size:12px;
	font-family: Segoe UI,Verdana,Arial,Sans-Serif;
	border:solid 1px #C5C7CB;
	margin:0px;
	padding:10px;
}


.igc_ControlActive
{
}


.igc_CaptchaImage
{
	margin-bottom:10px;
	display: block;
}


.igc_CaptchaInput
{
	border:solid 1px #C5C7CB;
	margin-bottom:10px;
	padding-top:5px;
	padding-right:0px;
	display: block;
	*margin-bottom: 0;
}


.igc_RefreshAndAudioButtonsArea
{
	border-width:0px;
	margin-left:10px;
	display: block;
	float: left;
	text-decoration:none;
}


.igc_SubmitButton
{
	background-color:#D2D2D2;
	background-repeat:repeat-x;
	background-position:left top ;
	background-image: url(./images/igc_submitbuttonbg.png);
	font-weight:bold;
	font-size:12px;
	font-family: Segoe UI,Verdana,Arial,Sans-Serif;
	border:solid 1px #C5C7CB;
	margin-top:10px;
	padding:0px;
	clear: left;
	display: block;
	height: 30px;
	width: 177px;
	cursor:pointer;
	color:#A3A3A3;
}


.igc_ErrorLabel
{
	background-color:#FF6666;
	padding:3px;
	color:White;
}


.igc_CaptchaInfoTextLabel
{
	margin:10px 0px 5px 0px;
	display: block;
}


.igc_CaptchaText
{
}


.igc_CaptchaImageArea
{
	margin:0px;
	padding:0px;
	display: block;
	float: left;
}


.igc_RefreshAndAudioButtonsArea a
{
	display: block;
}


.igc_CaptchaImageLabel
{
	border:solid 1px #C5C7CB;
}


.igc_CaptchaInputLabel
{
}


.igc_CaptchaImageArea label
{
	display: block;
}


.igc_RefreshAndAudioButtonsArea a, .igc_RefreshAndAudioButtonsArea img
{
	cursor:pointer;
}


.igc_RefreshAndAudioButtonsArea img
{
	border-width:0px;
	margin-bottom:3px;
	text-decoration:none;
}


